/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /reset */

body {
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
/* header section */
header {
  background-color: rgb(26, 29, 33);
}
/* utility class */
.box {
  width: 70%;
  margin: auto;
}
.fl {
  float: left;
}
.clear {
  content: "";
  display: table;
  clear: both;
}
/* /utility class */

/* nav section */
nav {
  height: 45px;
}
.git_logo {
  height: 40px;
  vertical-align: middle;
  filter: invert();
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  line-height: 45px;

}
/* sezione da verificare poichè lo spazio tral'ultimo link e input è elastico ma i contenuti di #nav_left e #nav_right si sovrappongono */
#nav_left, #nav_right  {
  width: 50%;
}
#nav_right {
  text-align: right;
}
/* /sezione da verificare poichè lo spazio tral'ultimo link e input è elastico ma i contenuti di #nav_left e #nav_right si sovrappongono */
/* /nav section */


/* motto and form container tutto da rivedere l'affiancamento dei .container.motto e .container.form*/
#motto_and_form_container {
  width: 50%;
  margin: auto;
  position: relative;
  height: 540px;
  margin-bottom: 40px;

}
.container.motto {
  /* height: 500px; */
  width: 450px;
  color: white;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);


}
.container.motto h1{
  font-size: 65px;
  font-weight: 500;
}
.container.form {

  width: 430px;
  height: 500px;
  position: absolute;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
.container.form *{
  margin: 10px 0;
}
.container.form input {
  width: 100%;
  height: 45px;
}
.container.form p {
  font-size: 10px;
}
#submit_button {
  height: 65px;
  background-color: #28A745;
  border-radius: 5px;
  border: 0px;
  margin: 30px 0;
}
/* motto and form container */

/* /header section */

/* spacer */
#spacer_header {
  width: 70%;
  margin: auto;
  position: relative;
  bottom: 75px;
}
#spacer_header img {
  height: 170px;
  float: right;

}
/* /spacer */

/* get started section */
#get_started {
  position: relative;
  width: 70%;
  height: 325px;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0 0 15px -10px #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 115px;

}
.container.get_start{
  float: left;
  width: 420px;
  height: 325px;
  padding: 50px;
  vertical-align: middle;
}
#get_start_title{
  font-size: 35px;
}
#get_start_p {
  font-size: 25px;
}
.enterprise_talk.container{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 60px;
}
.enterprise_talk.container .card {
  text-align: center;
  height: 325px;
  width: 260px;
  float: right;
  padding: 60px 0;
  font-size: 14px;

}
.enterprise_talk.container .card button {
  background-color: blue;
  height: 55px;
  width: 147px;
  border-radius: 5px;
  color: #ffffff;
  border: 0;
}
.enterprise_talk.container #talk_to_us_button {
  background-color: white;
  color: blue;
  border: 2px solid blue;

}
.get_start_card_text {
  margin: 30px 0;
}
#support {
  height: 48px;
}
/* /get started section */
